<h1 class="text-center mt-4">Variedades Genesis</h1>

<img src="/img/logo.jpeg" class="mx-auto d-block m-3 rounded-circle" width="350px" alt="logo">

<p class="text-center">Variedades Genesis es un sitio web realizado para la compra de productos importados, con el fin de satisfacer las nececidades del cliente con productos y mercadería de calidad desde la comodidad de su casa.</p>