<div class="container p4">
    <div class="row">
        <div class="card mx-auto my-4">
            <div class="card-header">
                <h3 class="card-title">Resgistrarse</h3>
            </div>
            <div class="card-body" style="width: 25rem;">
                <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" name="username" placeholder="nombre de usuario" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input class="form-control" type="password" name="password" id="pass">
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="f_name">nombre</label>
                    <input type="text" name="f_name" placeholder="Nombres" class="form-control">
                </div>
                <div class="form-group">
                    <label for="l_name">apellido</label>
                    <input type="text" name="l_name" placeholder="Apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edad">edad</label>
                    <input type="number" name="edad" id="edad" min="18" value="18" class="form-control">
                </div>
                <div class="from-group">
                    <button class="btn btn-success btn-block">
                        Crear Cuenta
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>